In [52]:
import pandas as pd
s1 = pd.Series([1,2,3])
s2 = pd.Series(['a','b','c'])
s3 = pd.DataFrame([s1,s2])###,index=[1,2,3])#,columns=["n1","n2","n3"])
print(s3)

   0  1  2
0  1  2  3
1  a  b  c

In [56]:
# assigning two series to s1 and s2 
s1 = pd.Series([1,2,3]) 
s2 = pd.Series(["Ash", "Sid","Did"]) 
# framing series objects into data 
df = pd.DataFrame([[1,2,3],["Ash", "Sid","Did"]],index=['r1','r2'],columns=['1','2','3']) 
# show the data frame 
df 

## data framing in another way taking index and column values 
#dframe = pd.DataFrame([[1,2],["Ashish", "Sid"]], index=["r1", "r2"],columns=["c1", "c2"]) 
#dframe 

## framing in another way dict-like container 
#dframe = pd.DataFrame({"c1": [1, "Ashish"], "c2": [2, "Sid"]}) 
#dframe

      1    2    3
r1    1    2    3
r2  Ash  Sid  Did

In [9]:
import pandas as pd
output = pd.read_csv("C:\\Users\\nxf53356\\Documents\\jupyter-files\\test_data.csv")
print(output.head())

      name  marks   %
0    Harry    445  70
1   Newton    345  35
2  Johnson    237  30
3   Goldie    430  65
4    Happy    410  60

In [14]:
# Series is one dimensional(1-D) array defined in pandas that can be used to store any data type.

# Program to Create series with scalar values  
Data =[1, 3, 4, 5, 6, 2, 9]  # Numeric data 
  
# Creating series with default index values 
s = pd.Series(Data)     
  
# predefined index values 
Index =['a', 'b', 'c', 'd', 'e', 'f', 'g']  
  
# Creating series with predefined index values 
si = pd.Series(Data, Index)
print(si)

# Program to Create Dictionary series 
dictionary ={'a':1, 'b':2, 'c':3, 'd':4, 'e':5}  

##################################### 
# Creating series of Dictionary type 
sd = pd.Series(dictionary)
print(sd)

##############################################
# Program to Create ndarray series 
Data =[[2, 3, 4], [5, 6, 7]]  # Defining 2darray 
  
# Creating series of 2darray 
snd = pd.Series(Data) 
print(snd)

a    1
b    3
c    4
d    5
e    6
f    2
g    9
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64
0    [2, 3, 4]
1    [5, 6, 7]
dtype: object

In [26]:
##DataFrames is two-dimensional(2-D) data structure defined in pandas which consists of rows and columns.
# Program to Create DataFrame 
import pandas as pd   # Import Library 
  
a = pd.DataFrame(Data)  # Create DataFrame with Data 
# Program to Create Data Frame with two dictionaries 
dict1 ={'a':1, 'b':2, 'c':3, 'd':4}        # Define Dictionary 1 
dict2 ={'a':5, 'b':6, 'c':7, 'd':8, 'e':9} # Define Dictionary 2 
Data = {'first':dict1, 'second':dict2}  # Define Data with dict1 and dict2 
df = pd.DataFrame(Data)  # Create DataFrame 
print(df)
print('\n')
#######################################
# Program to create Dataframe of three series  
import pandas as pd 
  
s1 = pd.Series([1, 3, 4, 5, 6, 2, 9])           # Define series 1 
s2 = pd.Series([1.1, 3.5, 4.7, 5.8, 2.9, 9.3]) # Define series 2 
s3 = pd.Series(['a', 'b', 'c', 'd', 'e'])     # Define series 3 

Data ={'first':s1, 'second':s2, 'third':s3} # Define Data 
dfseries = pd.DataFrame(Data)              # Create DataFrame
print(dfseries)
print('\n')
#######################################
# Program to create DataFrame from 2D array 
import pandas as pd # Import Library 
d1 =[[2, 3, 4], [5, 6, 7]] # Define 2d array 1 
d2 =[[2, 4, 8], [1, 3, 9]] # Define 2d array 2 
Data ={'first': d1, 'second': d2} # Define Data  
df2d = pd.DataFrame(Data)    # Create DataFrame 
print(df2d)

   first  second
a    1.0       5
b    2.0       6
c    3.0       7
d    4.0       8
e    NaN       9


   first  second third
0      1     1.1     a
1      3     3.5     b
2      4     4.7     c
3      5     5.8     d
4      6     2.9     e
5      2     9.3   NaN
6      9     NaN   NaN


       first     second
0  [2, 3, 4]  [2, 4, 8]
1  [5, 6, 7]  [1, 3, 9]

# Storing DataFrame in CSV Format :

Pandas provide to.csv('filename', index = "False|True") function to write DataFrame into a CSV file. 
Here filename is the name of the CSV file that you want to create and index tells that index (if Default) of DataFrame 
should be overwritten or not. If we set index = False then the index is not overwritten. By Default value of index is TRUE 
then index is overwritten.

In [1]:
import pandas as pd 
  
# assigning three series to s1, s2, s3 
s1 = pd.Series([0, 4, 8]) 
s2 = pd.Series([1, 5, 9]) 
s3 = pd.Series([2, 6, 10]) 
  
# taking index and column values 
dframe = pd.DataFrame([s1, s2, s3]) 
  
# assign column name 
dframe.columns =['Geeks', 'For', 'Geeks'] 
print(dframe)  
# write data to csv file 
dframe.to_csv('geeksforgeeks.csv', index = False)   
dframe.to_csv('geeksforgeeks1.csv', index = True)

   Geeks  For  Geeks
0      0    4      8
1      1    5      9
2      2    6     10

# Drop the missing Data :

The Data Analysis Phase also comprises of the ability to handle the missing data from our dataset, and not so 
surprisingly Pandas live up to that expectation as well. This is where dropna and/or fillna methods comes into the play. 
While dealing with the missing data, you as a Data Analyst are either supposed to drop the column containing the NaN values 
(dropna method) or fill in the missing data with mean or mode of the whole column entry (fillna method), this decision is of
great significance and depends upon the data and the affect would create in our results.

Consider this is the DataFrame generated by below code :

In [31]:
import pandas as pd 
import numpy as np
# Create a DataFrame 
dframe = pd.DataFrame({'Geeks': [23, 24, 22], 'For': [10, 12, np.nan], 'geeks': [0, np.nan, np.nan]})
# This will remove all the rows with NAN values 

# If axis is not defined then it is along rows i.e. axis = 0 
dframe.dropna(inplace = True) 
print(dframe) 

# if axis is equal to 1 
dframe.dropna(axis = 1, inplace = True) 

print(dframe)

   Geeks   For  geeks
0     23  10.0    0.0
   Geeks   For  geeks
0     23  10.0    0.0

# Fill the missing values :
Now, to replace any NaN value with mean or mode of the data, fillna is used, which could replace all the NaN values 
from a particular column or even in whole DataFrame as per the requirement.

In [32]:
import numpy as np 
import pandas as pd 
  
# Create a DataFrame 
dframe = pd.DataFrame({'Geeks': [23, 24, 22],  
                        'For': [10, 12, np.nan], 
                        'geeks': [0, np.nan, np.nan]}, 
                        columns = ['Geeks', 'For', 'geeks']) 
  
# Use fillna of complete Dataframe  
  
# value function will be applied on every column 
dframe.fillna(value = dframe.mean(), inplace = True) 
print(dframe) 
  
# filling value of one column 
dframe['For'].fillna(value = dframe['For'].mean(), 
                                    inplace = True) 
print(dframe)

   Geeks   For  geeks
0     23  10.0    0.0
1     24  12.0    0.0
2     22  11.0    0.0
   Geeks   For  geeks
0     23  10.0    0.0
1     24  12.0    0.0
2     22  11.0    0.0

# Groupby Method (Aggregation) :

The groupby method allows us to group together the data based off any row or column, thus we can further apply the
aggregate functions to analyze our data. Group series using mapper (dict or key function, apply given function to group,
return result as series) or by a series of columns.

Consider this is the DataFrame generated by below code :

In [6]:
# Import the pandas library, renamed as pd 
import pandas as pd 
  
# Read IND_data.csv into a DataFrame, assigned to df 
df = pd.read_csv("CountryData.IND.csv") 
  
# Prints the first 5 rows of a DataFrame as default 
#df.head() 
  
# Prints no. of rows and columns of a DataFrame 
#df.shape 

# prints first 5 rows and every column which replicates df.head() 
#df.iloc[0:5,:] 
# prints entire rows and columns 
#df.iloc[:,:] 
# prints from 5th rows and first 5 columns 
#df.iloc[5:,:5] 

#df['Time period details'].max()

#print(dir(df['Time period details']))

#df['Series Code'][df['Time period details']==1999]  # Prints all Series Codes which have Time Period details as 1999


#df['Time period details'][0]
#len(df['Time period details'])
#df['Series Code'] = df['Series Code'].replace('IT_USE_ii99','IT_USE_ii00')

#df.loc[df['Series Code'] == 'SH_DYN_MORT', 'Sex'] = 'Male'  # Matches Series Code with 'SH_DYN_MORT' and replaces 
                                                            #those columns Sex with 'Male'

#df.to_csv('CountryData.IND.csv')
#print(df['Sex'] == 'Female')

In [101]:
df['Series Code'][df['Sex'] == 'Female']

11    SH_STA_MORT
12    SH_STA_MORT
13    SH_STA_MORT
24    SL_EMP_NAGR
25    SL_EMP_NAGR
Name: Series Code, dtype: object

In [12]:
import pandas as pd
data = [['Austria', 'Germany', 'hob', 'Australia'],
       ['Spain', 'France', 'Italy', 'Mexico']]
df = pd.DataFrame(data, columns = ['A','B','C','D'])
print(df)
## Values to find and their replacements
findL = ['Australia', 'Mexico', 'United States', 'hob']
replaceL = ['Kangaroo', 'Spider Monkey', 'Eagle', 'Test']
## Select column (can be A,B,C,D)
#col = 'C';
## Find and replace values in the selected column
#df[col] = df[col].replace(findL, replaceL)
df=df.replace(findL,replaceL)
df

         A        B      C          D
0  Austria  Germany    hob  Australia
1    Spain   France  Italy     Mexico

         A        B      C              D
0  Austria  Germany   Test       Kangaroo
1    Spain   France  Italy  Spider Monkey

In [13]:
import pandas as pd 
import numpy as np 
  
# create DataFrame 
dframe = pd.DataFrame({'Geeks': [23, 24, 22, 22, 23, 24],  
                        'For': [10, 12, 13, 14, 15, 16], 
                        'geeks': [122, 142, 112, 122, 114, 112]}, 
                        columns = ['Geeks', 'For', 'geeks'])  
print(dframe)  
# Apply groupby and aggregate function max to find max value of column  
# &quot;For&quot; and column &quot;geeks&quot; for every different value of column &quot;Geeks&quot;. 
print(dframe.groupby(['Geeks']).max())

   Geeks  For  geeks
0     23   10    122
1     24   12    142
2     22   13    112
3     22   14    122
4     23   15    114
5     24   16    112
       For  geeks
Geeks
22      14    122
23      15    122
24      16    142

In [103]:
d={'k1':1,'k2':2,'k3':3,4:'four'}

In [154]:
# d['k1']
# d.pop('k1')
# d.popitem()
# d
# d.clear()
d
d[0]='abc'
d[1]='def'
d['k'] = 'ghi'
d['m']= 1,2,3,4
d['l'] =[1,2,3,4]
# print(d.items())
# print(d.values())
# for v in d.values():
#     print(v)
# for k in d.keys():
#     print(d[k])

In [158]:
print(d)
print(id(d))
print(d.items())
d[1]='111'
print(d)

{1: '111', 0: 'abc', 'k': 'ghi', 'm': (1, 2, 3, 4), 'l': [1, 2, 3, 4]}
2782167317744
dict_items([(1, '111'), (0, 'abc'), ('k', 'ghi'), ('m', (1, 2, 3, 4)), ('l', [1, 2, 3, 4])])
{1: '111', 0: 'abc', 'k': 'ghi', 'm': (1, 2, 3, 4), 'l': [1, 2, 3, 4]}

In [107]:
d.items()
#type(d.items())

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [19]:
test_string = "Geeksforgeeks is best Computer Science Portal is best"
len(test_string.split())
print(test_string.split())
out = set(test_string.split())
print(out)

k=()
print(type(k))

t=[1]
print(t)
print(type(t))

t=(1)
print(t)
print(type(t))

t=(1,) # Tuple with single element should be ',' separated. Otherwise it will be treated as Int value 
print(t)
print(type(t))

s ={0}
print(type(s))

s = ('Hi') # Same as string value
#s='Hi'
print(s*4)

s = ('Hi',)
print(s*4)

s1 = set([1,2,3])
s2 = set({2,3,4})
print(s1)
print(s2)

t1=(1,1,1,)
t2=(2,2,3,3)
t3 = t1+t2
print(t3)
#print(t1-t2) Unsupported

print("hello {} {}".format(1,2))

['Geeksforgeeks', 'is', 'best', 'Computer', 'Science', 'Portal', 'is', 'best']
{'is', 'Science', 'Computer', 'Portal', 'Geeksforgeeks', 'best'}
<class 'tuple'>
[1]
<class 'list'>
1
<class 'int'>
(1,)
<class 'tuple'>
<class 'set'>
('Hi', 'Hi', 'Hi', 'Hi')
('Hi', 'Hi', 'Hi', 'Hi')
{1, 2, 3}
{2, 3, 4}
(1, 1, 1, 2, 2, 3, 3)
hello 1 2

In [180]:
t = (1,2,3,4)
print(t)
t
print(t)
#print(dir(t))

(1, 2, 3, 4)
(1, 2, 3, 4)

In [29]:
df=pd.DataFrame([np.random.randint(0,30,5),np.random.randint(0,30,6)],index=list('ab'),columns=['1','2','3','4','5','6'])
df

    1   2   3   4   5     6
a   7  11  15  28  15   NaN
b  21  27   2  17  14  17.0

In [56]:
df.iloc[:3,:2]
df.loc['a']
df.loc['a':'b']
#df.iloc[1,1]

    1   2   3   4   5     6
a   7  11  15  28  15   NaN
b  21  27   2  17  14  17.0

In [2]:
dict = {'name': 'nme', 'degree': 'deg', 'score': 'scr'}  
for k,v in dict.items():
    print(type(k))
    print(k)
    print(v)
for i in dict.items():
    print(type(i))
    print(i)

<class 'str'>
name
nme
<class 'str'>
degree
deg
<class 'str'>
score
scr
<class 'tuple'>
('name', 'nme')
<class 'tuple'>
('degree', 'deg')
<class 'tuple'>
('score', 'scr')

In [40]:
import pandas as pd
di = {'name': ['Ajay', 'Arun', 'Varun','Nurun'], 'marks':[12,13,14,15], 'score':[23,24,14,15]}
df=pd.DataFrame(di)
df
def compare(df):
    if df['marks'] == df['score']:
        return 'Equal'
    else:
        return 'Not Equal'
# s1 = pd.Series(df['marks'])
# s1
# s2 = pd.Series(df['score'])

# df['result'] = s1.eq(s2)

df['result'] = df.apply(compare,axis=1)
#print(df)
df.set_index('name',inplace=True)
#df.reset_index(inplace=True)
df
#df.loc['Varun']
df.loc['Arun']
df.iloc[0:3]

       marks  score     result
name
Ajay      12     23  Not Equal
Arun      13     24  Not Equal
Varun     14     14      Equal

In [45]:
li = [10,2,3,4,5,6]
for x in li:
    print(x)
    
for i in range(len(li)):
    print(li[i])
    
x = [x for x in li if x%2 is not 0]
x

10
2
3
4
5
6

In [46]:
import pandas as pd
di = {'name': ['Ajay', 'Arun', 'Varun','Nurun'], 'marks':[12,13,14,15], 'score':[23,24,14,15]}
df=pd.DataFrame(di)
df

    name  marks  score
0   Ajay     12     23
1   Arun     13     24
2  Varun     14     14
3  Nurun     15     15

In [50]:
df.loc[2]

name     Varun
marks       14
score       14
Name: 2, dtype: object